

*body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;   
}

body{
 background: hsl(0, 0%, 96%,.7);
}

  .contenido{
      background: white;
      width: 80%;
      margin: 0 auto;
     display: -ms-grids;
     text-align: fixed;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     position: relative;
  padding-bottom: 58px;
  min-height: calc(100vh - 211px - 58px);
  border: .25px solid whitesmoke;
  }
  .container img{
      animation: alternate;
      

  }
  
h2{
  padding-top: 20px;
  font-size: medium;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  text-align: center;
  
}

h1{
  
  text-align: center;
  background-color: rgb(38,118,1);
  color: white;
  padding: 50px;
  text-shadow: 1px 3px 4px black;
  
}  

nav ul{
  text-align: center;
  list-style-type: none;
  border: none;

}

nav li{
  display:inline-flex;
}

nav li:hover {
transform: translateY(2px);
background-color:hsl(0, 0%, 100%);
}

nav a{
  text-shadow: 1px 3px 4px black;
  text-decoration: none;
  color:  rgb(7, 1, 1);
  width: 150px;
  transition: .3s ease all;
}
.three-col-cell {
  
display: table-cell;
float: left;
width: calc((100% / 3) - 6px);
  min-height: calc(100% / 3 - 211px - 58px);

}
.sub {
font-size: 95%;
padding: 3px 0;
margin: 0;
}
.clear {
clear: both;
}
.gallery {
/* colors optional 
background-color: #87b;
color:#fff;
/* -- */
text-align: center;
padding: 10px 0;
margin: 1px;
  box-sizing: border-box;
}
.gallery img {
width: 90%;
  box-sizing: border-box;

}


footer{
  
  width: 100%;
  margin:0 auto;
  bottom: 0;
  position: fixed;
  text-align: center;
  padding: 10px;
  font-size: 75%;
  border-top: 1px solid rgb(94,163,154);
  background: hsl(150, 33%, 4%,.2);
  bottom: 0;
  

  
  
} 

